<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div>
      <div class="main-container document-editor">
        <div
          class="editor-container editor-container_document-editor"
          id="editor-container"
        >
          <div class="editor-container__editor-wrapper">
            <div class="editor-container__editor">
              <div id="editor">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="importmap">
      {
        "imports": {
          "ckeditor5": "/vendor/ckeditor5.js",
          "ckeditor5/": "/vendor/",
          "custom-plugins/": "/vendor/siged-ckeditor5-custom-plugins/"
        }
      }
    </script>
    <script type="module" src="/vendor/ckeditor_custom/main.js"></script>
    <script>
      window.onload = function () {
        const html = `{HTML_PLACEHOLDER}`;
        editor.setData(html);
      };
    </script>
  </body>
</html>
